<%- include('partials/header'); -%>
<div class="container">
  <div class="row border-bottom">
    <div class="col">
      <img class="card-img-top p-3" src="../<%= rest.logo %>" alt="Rest logo">
    </div>
    <div class="col">
      <h1 class="my-4"> <%= rest.name %> </h1>
      <p class="card-text"> <%= rest.desc %> </p>
    </div>
  </div>
</div>
<h2 class="my-1 p-3">Menu</h2>

<%- include('partials/footer'); -%>
